$C: latest-articles;

.#{$C} {
  margin-top: 50px;
  font-size: 16px;

  .#{$C}__title {
    font-weight: $font-weight-bolder;
  }

  .#{$C}__article {
    margin-top: 15px;
    line-height: 1.1;
  }

  .#{$C}__link {
    color: $primary-color;
    text-decoration: underline;
    font-weight: $font-weight-bold;
  }
}
