@import "colors";
@import "bootstrap_variables";

$C: navlink;

.#{$C} {
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;

  .#{$C}__link {
    font-weight: $font-weight-bolder;
    color: $navlink-color;
  }

  &--main {
    margin-bottom: -10px;
    margin-top: 10px;

    .#{$C}__link {
      font-weight: $font-weight-bold;
      font-size: $h3-font-size;
      color: $primary-color;
    }
  }

  @include media-breakpoint-up(md) {
    &--main {
      text-align: left;
    }
  }
}
