@import "colors";
@import "bootstrap_variables";

$C: post;

.#{$C} {
  padding-bottom: 30px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;

  .#{$C}__title {
    font-weight: 400;
    font-size: 32px;
  }

  .#{$C}__title__link {
    color: $headings-color;
    // font-size: $h2-font-size;
    font-size: 32px;
    font-weight: 400;
  }

  .#{$C}__date {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .#{$C}__body {
    margin-top: 15px;
    font-weight: 500;
    line-height: 32px;
    font-size: 16px;
    // text-align: justify;

    h1, h2, h3, h4, h5, h6 {
      text-align: initial;
    }

    h2 {
      font-weight: 500;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      font-size: 28px !important;
    }

    b, strong {
      // font-weight: 500; 
    }

    i {
      font-weight: 200;
    }
  }

  .#{$C}__reactions {
    margin-bottom: 15px;
  }

  .#{$C}__read-full {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .#{$C}__tag {
    color: $primary-color;
    font-weight: $font-weight-bold;
    font-size: 16px !important;
  }

  .#{$C}__meta-column {
    max-width: 160px;
    padding-top: 10px;
  }

  .#{$C}__meta-column__date {
    background-color: $meta-date-bg-color;
    color: $meta-date-color;
    padding: 3px;
  }

  .#{$C}__meta-column__day {
    font-size: $h2-font-size;
  }

  .#{$C}__meta-column__tags {
    margin-top: 15px;
    text-align: right;
    word-wrap: break-word;
  }
}
