<div class="col-3 d-none d-md-block">
  {{ partial "profile-photo" . }}
  <div class="text-center">
    {{ .Site.Params.profileBio }}
    <br/>
    {{ .Site.Params.profileLocation }}
  </div>

  <div class="latest-articles">
    <div class="latest-articles__title">
      The latest articles:
    </div>

    {{ range first 3 (where .Site.Pages "Section" "blog") }}
      <div class="latest-articles__article">
        <a class="latest-articles__link" href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </div>
    {{ end }}
  </div>
</div>
