<div class="col-md-3 col-12 {{ .className }}">
  {{ partial "profile-photo" .context }}

  <div class="text-center">
    {{ .context.Site.Params.profilename}}
    <br/>
    {{ .context.Site.Params.profilebio }}
    <br/>
    {{ .context.Site.Params.profilelocation }}
    <br/>
    <br/>
    <i>{{ .context.Site.Params.profilequote }}</i>
  </div>

  <div class="latest-articles">
    <div class="latest-articles__title">
      The latest articles:
    </div>

    {{ range first 3 (where .context.Site.Pages "Section" (.Section)) }}
      <div class="latest-articles__article">
        <a class="latest-articles__link" href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </div>
    {{ end }}
  </div>
  <br/>
  
</div>
