<div class="col-3 d-none d-md-block">
  {{ partial "profile-photo" .context }}

  <div class="text-center">
    {{ .context.Site.Params.profilebio }}
    <br/>
    {{ .context.Site.Params.profilelocation }}
  </div>

  <div class="latest-articles">
    <div class="latest-articles__title">
      The latest articles:
    </div>

    {{ range first 3 (where .context.Site.Pages "Section" (.Section)) }}
      <div class="latest-articles__article">
        <a class="latest-articles__link" href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </div>
    {{ end }}
  </div>
</div>
