@import "bootstrap/bootstrap.less";
@import "bootstrap.less";

@sidebar-base: #fff;
@light-primary: #534b3a;
@background-primary: #fff;
@height-break-point: 600px;

body {
  font-weight: 300;
	padding-top: 10rem;
}

main article {
	text-align: justify;
}

a:hover, a:active {
  text-decoration: none;
	color: @link-hover-color;
}

header > p {
	text-align: justify;
}

/*
	MAIN POST CONTENT
*/

.blog-link {

	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
	background-color: #fff;
	z-index: 10;

	a {
		font-size: 3rem;
		margin: 0 5rem;
	}
}

.profile-photo {
	margin: 0 auto;

	img {
		width: 100%;
		border-radius: 50%;
	}
}

.icon-links {
	text-align: center;
	font-size: @icon-link-font-size;

	a {
		color: @icon-link-color;
	}

	a:hover {
		color: @link-hover-color;
	}
}

.panel {
	border: none;
	border-radius: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.panel-body {
	text-align: justify;
}

.blog-intro {
	text-align: center;
	font-weight: bold;
}

.panel-header h3 {
	a {
		color: #59A5D1;
	}
}


#content .portfolio-half-screen-image {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3rem;
}

#content .portfolio-row {
	padding: 0;
}


#content .row .paper {
	display: flex;
	background-color: @background-primary;

	#post {
		word-wrap: break-word;
		width: 100%;
	}
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.navbar {
	font-family: @headings-font-family;
	letter-spacing: 2px;
}

#bottom-nav {
	padding-bottom: 15px;
}

.thumbnail {
	.img-thumbnail();
	margin: 10px;
}

.img-label {
	font-family: @font-family-sans-serif;
}

pre {
  font-size: 0.85em;
}

/*
	Panels for summaries
*/

.panel-footer {
	border: none;
	padding: 12.5px 0 12.5px 0;
}

.panel-footer a:first-child {
	padding-left: 0px;
}

.panel-footer a {
	padding-left: 0.5em;
}

.panel-footer .label-success:hover {
  background-color: darken(@brand-success, 5%);
}

.panel-header a {
	color: lighten(@headings-color, 10%);
	text-decoration: none;
}

.panel-header a:hover {
	color: @link-hover-color;
}

.label {
  font-family: 'helvetica', sans-serif;
  font-weight: normal;
}

/*
	Footer Copyright
*/

.footer-copy {
	width: 100%;
}

.container-fluid {
	max-width: 1024px;
}

/*
  Syntax Highlighting
*/

.hljs {
  background-color: transparent;
}

pre {
	background-color: @background-primary;
}

@media (max-width: @screen-xs-max) {
	body {
		margin: 0;
		padding-top: 8rem;
	}

	.blog-link {
		a {
			font-size: 2rem;
			margin: 0 1rem;
		}
	}
}

article img {
	width: 100%;
	height: 20%;
}

@media (max-width: @screen-xxs-max) {
	h1, .h1 { font-size: @font-size-h1 * 0.7; }
	h2, .h2 { font-size: @font-size-h2 * 0.5; }
	h3, .h3 { font-size: @font-size-h3 * 0.7; }
	h4, .h4 { font-size: @font-size-h4 * 0.5; }
	h5, .h5 { font-size: @font-size-h5 * 0.5; }
	h6, .h6 { font-size: @font-size-h6 * 0.5; }

	body {
		padding-top: 6rem;
	}

	.icon-links {
		font-size: @icon-link-font-size * 0.8;
	}

	main {
		width: 100%;
	}

	.blog-link {

		padding-top: 1.5rem;

		a {
			font-size: 1.8rem;
			margin: 0 0.5rem;
		}
	}

	header > p {
		padding: 0 1rem;
	}
}

// ui/ux page
.projects {

	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	width: 100%;

	h1, h2, h3 {
		text-align: center;
	}

	h2 {
		margin-top: 6rem;
		margin-bottom: 3rem;
	}
}

@media (max-width: 1024px) {
	.projects {
		flex-direction: column;
	}
}
