{{ define "main" }}
  <div class="row layout--list">
    <div class="col col-md-9">
      <div class="row my-5">
        <div class="col"><h1>Legal Documents</h1></div>
      </div>
      {{ $paginator := .Paginate (where .Data.Pages "Section" "legal") }}
      {{ range $paginator.Pages }}
        {{ .Render "list-post"}}
      {{ end }}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">
  	  {{ template "_internal/pagination.html" . }}
    </div>
  </div>

{{ end }}
