$primary-color:       #F20094;
$navlink-color:       #333333;
$background-color:    #FFFFFF;
$border-color:        #E5E5E5;
$text-color:          #555555;
$footer-bg-color:     #222222;
$footer-text-color:   #FFFFFF;
$footer-copy-color:   #A5A5A5;
$button-color:        #222222;
$meta-date-bg-color:  #222222;
$title-color:         #222222;
$meta-date-color:     #FFFFFF;
