$C: #content;

$top-margin: 150px;
$top-margin-sm: 90px;
$bottom-margin: 30px;

#{$C} {
  padding-top: $top-margin;
  padding-bottom: $bottom-margin;

  @include media-breakpoint-up(sm) {
    padding-top: $top-margin-sm;
  }
}
