$C: footer;
$W: footer-wrapper;

$footer-height: 152px;
$footer-height-sm: 71px;

html, body {
  height: 100%;
}

.#{$W} {
  min-height: 100%;
  position: relative;
  box-sizing: border-box;

  padding-bottom: $footer-height;
}

.#{$C} {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  height: $footer-height;
}

@include media-breakpoint-up(sm) {
  .#{$W} {
    padding-bottom: $footer-height-sm;
  }

  .#{$C} {
    height: $footer-height-sm;
  }
}
