{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<header>
	<div class="blog-link">
		<a href="/">ilonacodes</a>
		<a href="/blog">read my blog</a>
		<a href="/">about me</a>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"></div>
		<div class="profile-photo col-xs-6 col-sm-4 col-md-4 col-lg-4">
			<img src="img/FullSizeRender.jpg" />
		</div>
		<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"></div>
	</div>
	<h1 style="text-align: center">Ilona Who Codes</h1>
	<h2 style="text-align: center">Front-end Web Developer</h2>

	<div class="icon-links">
		<a href="https://github.com/ilonacodes"><i class="fab fa-github"></i></a>
		<a href="mailto:demiluri@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<a href="https://www.instagram.com/ilonacodes"><i class="fab fa-instagram"></i></a>
		<a href="https://twitter.com/ilonacodes"><i class="fab fa-twitter"></i></a>
		<a href="https://medium.com/@ilonacodes"><i class="fab fa-medium"></i></a>
	</div>
	<br/>
	<p>Hi, I'm Ilona - a morning person, open-minded, and an aspiring entrepreneur.
	<p>Based in Berlin, Germany. M.Sc. programme in Media Informatics.</p>
	<p>My professional interests include web-development and web-design.
	Intrigued by blogging, traveling, writing. I like to work hard for things that are worth it.</p>
	<p>If you would like to find out more about my educational and professional background, check out my <a href="https://github.com/ilonacodes">Github</a> or download my <a href="/pdf/Resume_Ilona_Demidenko.pdf">Resume</a>.</p>
	<p>Outside of work I learn foreign languages, do sport, and read good books.</p>
</header>
<br/>

{{ partial "footer.html" . }}
