{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<header>
	<h1 style="text-align: center">About Me</h1>
	<p>Hi everyone, I'm Ilona - a morning person, open-minded, and always searching for new things to learn. I live in Berlin, which inspires me for future challenges. Since the last year I am fully occupied with the frontend development and would like to continue working on different creative projects.</p>
	<p>If you would like to find out more about my educational and professional background, check out my <a href="#">Github</a>, download my <a href="#">Resume</a>, or just take a look at my <a href="#">Portfolio</a></p>

	<p>Outside of work I learn new languages, do yoga, and read good books.</p>
</header>

{{ partial "footer.html" . }}
