{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<header>
	<div class="blog-link">
		<a href="/">ilonacodes</a>
		<a href="/blog">my blog</a>
		<a href="/ui-ux-projects">ui-ux projects</a>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"></div>
		<div class="profile-photo col-xs-6 col-sm-4 col-md-4 col-lg-4">
			<img style="margin-top: 1.5rem" src="img/FullSizeRender.jpg" />
		</div>
		<div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"></div>
	</div>
	<h2 style="text-align: center">Ilona Who Codes & UXs</h2>
	<h2 style="text-align: center; color: #777; margin-bottom: 4rem;">Web Developer & UI/UX Designer</h2>
	<!-- <h2 style="text-align: center; margin-bottom: 4rem; color: #777;">Aspiring UI/UX Designer</h2> -->
	<!-- <h2 style="text-align: center; color: #777;">Front-end Web Developer <br>& <br>Aspiring UI/UX Designer</h2> -->

	<div class="icon-links" style="font-size: 38px;">
		<a style="margin: 0 0.5rem;" href="https://github.com/ilonacodes"><i class="fab fa-github"></i></a>
		<a style="margin: 0 0.5rem;" href="mailto:demiluri@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<a style="margin: 0 0.5rem;" href="https://www.instagram.com/ilonacodes"><i class="fab fa-instagram"></i></a>
		<a style="margin: 0 0.5rem;" href="https://twitter.com/ilonacodes"><i class="fab fa-twitter"></i></a>
		<a style="margin: 0 0.5rem;" href="https://medium.com/@ilonacodes"><i class="fab fa-medium"></i></a>
		<a style="margin: 0 0.5rem;" href="https://dribbble.com/ilonacodes"><i class="fab fa-dribbble"></i></a>
	</div>
	<br/>
	<p>Hi, I'm Ilona - a morning person, open-minded, and an aspiring entrepreneur.
	<p>Based in Berlin, Germany. M.Sc. programme in Media Informatics (E-Commerce, Human–Computer Interaction, Interface Design).</p>
	<p>My professional interests include web-development and web-design.
	Intrigued by blogging, traveling, writing. I like to work hard for things that are worth it.</p>
	<p>If you would like to find out more about my educational and professional background, check out my <a href="https://github.com/ilonacodes">Github</a> or <a href="/ui-ux-projects">UI/UX Projects</a> or download my <a href="/pdf/Resume_Ilona_Demidenko.pdf">Resume</a>.</p>
	<p>Outside of work I learn foreign languages, do sport, and read good books.</p>
</header>
<br/>

{{ partial "footer.html" . }}
