<div class="summary">
	<h2 class="summary__title">
		<a class="summary__title__link" href="{{ .Permalink }}">
			{{ .Title }}
		</a>
	</h2>

	<div class="summary__date">
		{{ .Date.Format "2 Jan, 2006" }}
	</div>

	{{ if isset .Params "cover" }}
		<div class="summary__cover">
			<img src="{{.Params.cover}}" alt="blog post cover">
		</div>
	{{ end }}

	<div class="summary__body">
		{{.Summary}}
	</div>

	<div class="summary__read-full">
		<a href="{{ .Permalink }}" class="btn btn-primary">Read My Full Post</a>
	</div>

	<div class="summary__tags">
		{{ if isset .Params "tags" }}
			Tags |
			{{ $base := .Site.BaseURL }}
			{{ range $tag := .Params.tags }}
				<a href="{{ $base }}tags/{{ $tag | urlize }}">
					<span class="summary__tag">
						#{{ . }}
					</span>
				</a>
			{{ end }}
		{{ end }}
	</div>
</div>
